.left {
    width: 50%;
    height: 100px;
    float: left;
    border:1px solid black;
}
.right {
    margin-left: 50%;
    height: 100px;
    border:1px solid black;
}

.range {
    padding-top: 10px;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 120px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: right;
    margin: 0 0 20px 0;
}